version: '3.7'

services:
  consul:
    image: consul:1.6.2
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          memory: 500M
          cpus: '2'
      restart_policy:
        delay: 5s
        max_attempts: 5
        window: 120s
    volumes:
      - "{{ .Component.Params.consul.dataDir }}:/consul/data"
    ports:
      - target: 8500
        published: 8500
        protocol: tcp
    command: >
      agent
        -server
        -bootstrap
        -ui
        -client 0.0.0.0
        -bind '{{ "{{ GetInterfaceIP "eth0" }}" }}'
